extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p Do you aspire to be a rainbow unicorn? Contact Scott (scott@superawesome.co)
        p Negative things? Direct your comments to Scott (sean@gottaHaveDatFlow.com)

        a.btn.btn-primary(href='#') Get in touch


